/*
* Hoja de estilos
* Cristhian Coronel
*/
/*****************************opciones inicales********************************/

/*
selector para todos los elementos que hace que el tamaño sea directamente 
de acuerdo al borde de la linea en la que se ubica, no tiene en cuenta 
padding, marging para el tamaño. De esa forma no hay espacios de separacion
*/
* { /*todos los tags en el dom*/
    box-sizing: border-box;
}

.encabezado{
    background-color: beige;
    text-align:center;
    margin: 0px;
    padding: 0px;
}

.site-logo{
    overflow: auto;
}

.site-logo img{
    width:12.5%;
    height:50px;
    float: left;
    clear: both;
}

.option{
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-align: center;
}

.sub-option{
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-align: center;
    display: none;
}

.option:hover{
    background-color: grey;
}

.fly {
    position: absolute;
    z-index: 100;
    opacity: 0.6;
    right: 10px;
    top: 16px;
}

.fly a{
    padding: 8px;
    float: right;
}

.fly:hover a {
    display: block;
}

.fly a:hover{
    background-color: #555;
    color: white;
}

a span {
    display: block;
    text-align: center;
}

div.content-v img, div.content-h img {
    max-width: 40%;
    height: auto;
}

/***************************tamaño normal**************************************/

/***********************************menu vertical******************************/
ul.verticalnav { /*todos los ul con la clase verticalnav*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
}

ul.verticalnav li { /*todos los ul con la clase verticalnav*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: none;
}

/*
elemento <a> dentro de la lista con clase verticalnav en <ul>
es decir los botones como Inicio, Item 1, Item 2...
*/
ul.verticalnav li a { /*todos los <a> dentro de un <li> que estan dentro de un <ul> con clase = verticalnav*/
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/*
si el elemento <a> dentro de una lista con clase verticalnav de un <ul> está activo
es decir se está en la página donde apunta el <a>
(Por ejemplo si estamos en la página inicial, el boton Inicio se verá diferente)
*/
ul.verticalnav li a.active { /*todos los a con clase active, dentro de un li que esten dentro de un ul con clase verticalnav*/
    background-color: cadetblue;
    color: white;
}

ul.verticalnav li a:hover:not(.active) { /*todos los <a> a quienes se le hace hover y que no tienen la clase active dentro de un li que estan dentro de un ul con la clase verticalnav*/
    background-color: #555;
    color: white;
}

ul.verticalnav li a:hover{ /*todos los <a> a quienes se les hace hover, dentro de un li que estan en un ul con clase verticalnav*/
    background-color: darkseagreen;
    color: white;
}

ul.verticalnav .sub-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.verticalnav .sub-elemento{ /*todos las etiquetas con la clase = sub-elemento*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkseagreen;
    color: black;
    opacity: 0.8;
    position: relative;
    display: none;
}

ul.verticalnav .sub-menu:hover .sub-elemento{ /*todos los tags que tienen la clase = sub-elemento que están en un li al que se le está haciendo hover*/
    display:block;
    height: fit-content;
    position: static;
}

div.content-v { /*todos los div con la clase = content*/
    margin-left: 25%;
    padding: 1px 16px;
    height: 100%;
}

/************************************menu horizontal***************************/
ul.horizontalnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    overflow: auto;
}

ul.horizontalnav li {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    float: left;
}

ul.horizontalnav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.horizontalnav li a.active {
    background-color: cadetblue;
    color: white;   
}

ul.horizontalnav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

ul.horizontalnav li a:hover{
    background-color: darkseagreen;
    color: white;
}

ul.horizontalnav .sub-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontalnav .sub-elemento{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkseagreen;
    color: black;
    opacity: 0.8;
    overflow: hidden;
    display: none;
}

ul.horizontalnav .sub-menu:hover .sub-elemento{
    display:block;
    height: fit-content;
    position: absolute;
    z-index: 100;
}

div.content-h {
    margin-left: 0%;
    padding: 1px 16px;
    height: 100%;
}

/********************************tamaño tableta********************************/
@media screen and (max-width: 900px) {
    div.navegacion {
        position: absolute;
    }
    a span {
        display: none;
    }
    .site-logo img{
        display: block;
        width: 100%;
        height: auto;
        max-height: 150px;
    }
    ul.verticalnav, ul.horizontalnav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: fit-content;
        background-color: #f1f1f1;
        position: static;
        height: fit-content;
        overflow: auto;
    }
    ul.verticalnav li, ul.horizontalnav li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: none;
    }
    ul.verticalnav li a, ul.horizontalnav li a {
        text-decoration: none;
        color: #000;
        padding: 8px;
        text-align: center;
        display: block;
    }
    div.content-v, div.content-h {
        margin-left: 10%;
        padding: 1px 16px;
        height: 100%;
    }
}
/*********************************tamaño celular*******************************/
@media screen and (max-width: 600px) {
    a span {
        display: block;
    }
    .site-logo img{
        display: block;
        width: 100%;
        height: auto;
        max-height: 90px;
    }
    div.navegacion {
        position: sticky;
        top: 0px;
    }
    ul.verticalnav, ul.horizontalnav{
        position: static;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: #f1f1f1;
        overflow: auto;
    }
    ul.verticalnav li, ul.horizontalnav li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: none;
    }
    ul.verticalnav li a, ul.horizontalnav li a {
        text-decoration: none;
        color: #000;
        padding: 8px;
        text-align: center;
        display: block;
    }
    div.content-v, div.content-h {
        margin-left: 10%;
        padding: 1px 16px;
        height: 100%;
    }
    
}

/******************************************************************************/
/*
tamaños de pantalla:
Normal: desde 1024px para arriba;
Tableta: desde 600px hasta 900px;
Celular: desde el mas pequeño hasta 600px;
*/
/******************************************************************************/